<div class='d-flex justify-content-center align-items-center'>
  <div class='col-md-6'>
    <h1>Edit Course</h1>
    <%= render 'form' %>
    <%= link_to "Delete", destroy_course_path(id: @course.id), data:{ turbo_method: :delete, turbo_confirm: "Delete Course?" }, class:'btn btn-danger mt-4' %>
  </div>
</div>
