<div class='d-flex justify-content-center align-items-center'>
  <div class='col-md-4'>
    <h1 class='mb-4'> New Course </h1>
    <%= render 'form' %>
    <%= link_to "Cancel", root_path, class:'btn btn-secondary mt-3 col-2' %>
  </div>
</div>
