<div class='d-flex align-items-center justify-content-center'>
  <div class='col-md-4'>
    <h2> Pending Page </h2>
    <p style='text-align:justify'>
      You have applied for this course but are yet to be accepted. You don't have access to the course resources yet.
      You will receive an email notification upon approval of your application.
    </p>
    <%= link_to "Courses", list_courses_path, class:'btn btn-secondary col-3 mt-4' %>
  </div>
</div>
