<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #7a020c ">
  <div class="container-fluid col-md-11">
    <a class="navbar-brand" href="/"> Onrine Rearning Pratform </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Link</a>
        </li>
      </ul>
      <% if Current.user.present? %>
        <%= link_to Current.user.email, logout_path, data:{turbo_method: :delete, turbo_confirm: "Log out?"}, class:'nav-link', style:'color:white; text-decoration: none' %>
      <% else %>
        <%= link_to "Log In", new_user_session_path, class:'nav-link', style:'color:white; text-decoration:none;' %>
      <% end %>
    </div>
  </div>
</nav>
